extends layout

block styles
	link(rel='stylesheet', type='text/css', href='/stylesheets/article-list.css')

block content
	#allArticles.all-articles
		if articles !== undefined
			each item in articles
				.article
					h3 
						a(href='/secure/articles/#{item._id}') #{item.title}
					h6
						a(href='/secure/articles/update/#{item._id}') Edit
						i  |  
						a(href='/secure/articles/delete/#{item._id}') Delete
					h5 #{item.date}
					.image
						img(src='/images/#{item.image}', alt='no picture')
					p.description #{item.text}
