extends ../layout

block styles
	link(rel='stylesheet', type='text/css', href='/stylesheets/article/update.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/validate.css')

block content
	h2 Update the article
	h5
		a(href='/secure/articles/get-user-articles') Back to my articles
	if error_message
		h3 #{error_message}
	form.details(method='post', action='/secure/articles/update', enctype='multipart/form-data')
		.description
			input(type='hidden', name='id', value='#{article._id}')
			input(type='hidden', name='currentImage', value='#{article.image}')
			.update-line
				label(for='title') Title
				input#title(name='title', type='text', value='#{article.title}')
			.update-line
				label(for='image') New image
				input#image(name='image', type='file')
			.update-line
				label(for='text') Text
				textarea#text(name='text') #{article.text}
			.update-line
				input(type='submit', value='Update')
		.image
			img(src='/images/#{article.image}', alt='no picture')
